@model CMS.Models.CuraHub.PharmacySection.PharmacySectionVM.MedicineManufactoryVM

@{
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}


<div class="card shadow-sm p-4 rounded mt-5">
    <div class="card-header bg-primary text-white">
        <h2 class="text-center">@Model.Name</h2>
    </div>
    <div class="card-body">
        <div class="mt-4 d-flex justify-content-center gap-3">
            <a asp-action="Edit" asp-route-id="@Model.Id" asp-route-pageNumber="@ViewBag.currentPage" class="btn btn-primary px-4">
                <i class="fas fa-edit"></i> Edit
            </a>
            <a asp-action="Index" asp-route-pageNumber="@ViewBag.currentPage" class="btn btn-secondary px-4">
                <i class="bi bi-arrow-left-circle"></i> Back
            </a>
        </div>
    </div>
</div>


