@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model int
<form action="CreateDoctorSchedular" method="post">
    <input type="hidden" value="@Model" name="DoctorId"/>
    <button type="submit"></button>

</form>