
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_CuraHubLayout.cshtml";
}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f9f9f9;
        background-image: url('/Files/Images/group-doctors.avif');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
    }
</style>
<br />
<br />
<br />
<br />
<br />
<br/>
<br/>

<div class="container p-2 bg-white rounded rounded-3">
    <div class="logo p-2">
        <img src="~/Files/Images/Logo.webp" class=" rounded-circle" style="width:100px" alt="Your Clinic Logo">
    </div>

    <div class="about-us text-dark">
        <h1>About Us</h1>
        <p>
            We are a comprehensive online healthcare platform designed to connect patients with a wide range of medical services.
            Our platform offers a seamless experience for booking appointments with doctors, dentists, and specialists, as well as ordering medications from our online pharmacy.
        </p>
        <p>
            With our platform, you can easily:
            <ul>
                <li>Find and book appointments with qualified doctors.</li>
                <li>Order medications and medical supplies online.</li>
                <li>Schedule appointments for medical tests and imaging.</li>
                <li>Access your medical records securely.</li>
            </ul>
        </p>
        <p>
            Our mission is to provide convenient and accessible healthcare services to our patients. We strive to make healthcare more affordable and efficient.
        </p>
    </div>
</div>
