
@{
    ViewData["Title"] = "MemberRequest";
    Layout = "~/Views/Shared/_CuraHubLayout.cshtml";
}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f9f9f9;
        background-image: url('/Files/Images/group-doctors.avif');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
    }
</style>


<br />
<br />
<br />
<br />
<br />
<br />


<div class="bg-white bg-opacity-75 align-content-center align-items-center p-3 mt-3">
    <div class="row">
        <div class="col-6">
            
            <a href="/Customer/CuraHub/Clinic/RequestDoctor/CreateRequestDoctor">
                <div class="card m-auto" style="width: 18rem;">
                    <img class="card-img-top" src="~/Files/Images/RequestDoctor.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">For Doctor Request</h5>
                        <p class="card-text">Press Here </p>
                    </div>
                </div>


            </a>
            
        </div>
        <div class="col-6">

            <a href="/Customer/CuraHub/Clinic/RequestClinicReceptionist/CreateRequestClinicReceptionist">
                <div class="card m-auto" style="width: 18rem;">
                    <img class="card-img-top" src="~/Files/Images/RequestclinicReceptionist.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">For Clinic Requestclinic Request</h5>
                        <p class="card-text">Join To Our Medical Staff </p>
                        <p class="card-text">Press Here </p>
                    </div>
                </div>


            </a>

        </div>

    </div>


</div>