
@{
    ViewData["Title"] = "NotFoundPage";
    Layout = "~/Views/Shared/_CuraHubLayout.cshtml";
}
<div class="mt-5" style="background-color:blanchedalmond; text-align:center; width:80%; height:70vh ;margin:auto">
	<br />
	<br />
	<h1 class="mt-5" style="font-size:70px"> Sorry !!</h1>
	@if(@Model.Message !=null)
	{
		<h1 class="mt-5" style="font-size:70px">@Model.Message</h1>

	}
	else
	{
		<h1 class="mt-5" style="font-size:70px">Not Found Any Things</h1>

	}
</div>
