
@{
    ViewData["Title"] = "Cancel";
    Layout = "~/Views/Shared/_CuraHubLayout.cshtml";
}

﻿<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Sorry, the payment was not completed successfully.</h1>
        <h3>Please try again</h3> <br /><br />
        <img src="~/Files/Images/PaymentError.png" width="65%" />
    </div>
</div>
