@using CMS.Models.CuraHub.ClinicSection
@using CMS.Models.CuraHub.ClinicSection.ClinicSectionVM.History

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_CuraHubLayout.cshtml";
}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f9f9f9;
        background-image: url('/Files/Images/group-doctors.avif');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
    }
</style>

@model Patient
<br />

<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="card mb-6" style="width: 70%;">
        <h1 class="text-white" style="background-color:#006d77">Add for New History</h1>

        <form action="Create" method="post">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <div class="mb-3">
                                    <label for="PatientName" class="form-label text-start d-block">Patient Name</label>
                                    <input readonly type="hidden" name="PatientId" placeholder="Id" value="@Model.Id" class="form-control" id="Id">
                                    <input disabled type="text" name="PatientName" placeholder="PatientName" value="@Model.FirstName @Model.LastName" class="form-control" id="PatientName" aria-describedby="emailHelp">
                                </div>

                            </div>
                            <div class="col-6">
                                <div class="mb-3">
                                    <label for="Date" class="form-label text-start d-block">Date</label>
                                    <input readonly type="text" name="Date" placeholder="Date" value="@DateOnly.FromDateTime(DateTime.Now)" class="form-control" id="Date" aria-describedby="emailHelp">
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3">
                                <label for="Description" class="form-label  text-start d-block">Description</label>
                                <textarea type="text" name="Description" placeholder="Description" required=""  class="form-control" id="Description"></textarea>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="mb-3">
                        <button type="submit" style="width:90%" class="btn btn-primary">Save</button>
                        <br />
                    </div>
                </div>
            </div>
        </form>
      
    </div>
</div>

@section Scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}