@using CMS.Models.CuraHub.ClinicSection
@using CMS.Models.CuraHub.ClinicSection.ClinicSectionVM.History

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_CuraHubLayout.cshtml";
}
@model PatientHistoriesVM
<br />
<div class="row">
    <div class="col-10">
        <h1>History</h1>
    </div>
    <div class="col-2">
        <a href="/Customer/CuraHub/Clinic/PatientHistory/Create?PatientId=@Model.PatientId" class="btn btn-secondary"><i class="bi bi-plus-circle"></i> Add New Doctor</a>
    </div>
</div>
<br />

<div style="min-height:100vh;">

    @foreach(var item in Model.Histories)
    {
        <div class="card">
            <h5 class="card-header">@item.Date</h5>
            <div class="card-body">
                <p class="card-text">@item.Description</p>
            </div>
        </div>
        <br/>
        
    }



</div>

