@using CMS.Models.CuraHub.ClinicSection.ClinicSectionVM
@using CMS.Models.CuraHub.ClinicSection.ClinicSectionVM.PatientVM
@model Doctor_MedicalPrescriptionCreateVM
<style>


    .prescription {
    max-width: 100%;
    margin: 50px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .header {
    text-align: center;
    margin-bottom: 20px;
    }

    .header img {
    width: 100px;
    margin-bottom: 10px;
    }

    .header h1 {
    margin: 0;
    font-size: 24px;
    color: #2c3e50;
    }

    .header p {
    margin: 5px 0;
    color: #555;
    }

    .content {
    margin-bottom: 20px;
    }

    .content h3 {
    margin-bottom: 10px;
    color: #34495e;
    }

    .content p {
    margin: 5px 0;
    }

    .content ul {
    padding-left: 20px;
    }

    .content ul li {
    margin-bottom: 5px;
    }


</style>


<div class="prescription">
    <div class="header">
        <img src="~/Files/Images/Logo.webp" class="rounded-circle" alt="Logo">
        <h1>Medical Prescription</h1>
        <p>Doctor: Dr. @Model?.PatientAppointment.Schedule.Doctor?.FirstName @Model?.PatientAppointment.Schedule.Doctor?.LastName</p>
        <p>Specialty: @Model?.PatientAppointment.Schedule.Doctor?.Specialization.Name</p>
    </div>

    <div class="content " style="color:black;">
        <h3>Patient Details</h3>
        <p class="text-start d-block">Name: @Model?.PatientAppointment.Patient?.FirstName @Model?.PatientAppointment.Patient?.LastName</p>
        @{
            var age = DateOnly.FromDateTime(DateTime.Now).Year - @Model?.PatientAppointment.Patient?.DateOfBirth.Year;
        }

        <p class="text-start d-block">Age: @age</p>
        <p class="text-start d-block" >Date: @Model?.date</p>

        <h3>Medications</h3>
        
            
            <form action="Create" method="post">
                <input type="hidden"  name="PatientId" value="@Model?.PatientId">
                <input type="hidden" name="ScheduleId" value="@Model?.ScheduleId">
                <input type="hidden"  name="Date" value="@Model?.date">
            <input type="hidden" name="DateIndex" value="1">

                <div class="row">
                   
                    <div class="col-3">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control"  name="MedicineType1" id="floatingInput" placeholder="">
                            <label for="floatingInput">Medicine Type</label>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-floating mb-3">
                            <input type="number" class="form-control" name="numOfTaken1" id="floatingInput" placeholder="">
                            <label for="floatingInput">Number of Taken</label>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="Details1" id="floatingInput" placeholder="">
                            <label for="floatingInput">Details</label>
                        </div>
                    </div>

                </div>
                <div class="row">

                <div class="col-3">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="MedicineType2" id="floatingInput" placeholder="">
                        <label for="floatingInput">Medicine Type</label>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" name="numOfTaken2" id="floatingInput" placeholder="">
                        <label for="floatingInput">Number of Taken</label>
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="Details2" id="floatingInput" placeholder="">
                        <label for="floatingInput">Details</label>
                    </div>
                </div>

            </div>
                <div class="row">

                <div class="col-3">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="MedicineType3" id="floatingInput" placeholder="">
                        <label for="floatingInput">Medicine Type</label>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" name="numOfTaken3" id="floatingInput" placeholder="">
                        <label for="floatingInput">Number of Taken</label>
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="Details3" id="floatingInput" placeholder="">
                        <label for="floatingInput">Details</label>
                    </div>
                </div>

            </div>
                <div class="row">

                <div class="col-3">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="MedicineType4" id="floatingInput" placeholder="">
                        <label for="floatingInput">Medicine Type</label>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" name="numOfTaken4" id="floatingInput" placeholder="">
                        <label for="floatingInput">Number of Taken</label>
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="Details4" id="floatingInput" placeholder="">
                        <label for="floatingInput">Details</label>
                    </div>
                </div>

            </div>
                <div class="row">

                <div class="col-3">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="MedicineType5" id="floatingInput" placeholder="">
                        <label for="floatingInput">Medicine Type</label>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" name="numOfTaken5" id="floatingInput" placeholder="">
                        <label for="floatingInput">Number of Taken</label>
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="Details5" id="floatingInput" placeholder="">
                        <label for="floatingInput">Details</label>
                    </div>
                </div>

            </div>

                    
                <br />
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
                
            

          

            <h3>Notes</h3>
            <p>Take the medication after meals and drink plenty of water.</p>
        </div>

        <div >
            <p>Wishing you a speedy recovery!</p>
        </div>
    </div>
    <
