@using CMS.Models.CuraHub.IdentitySection.IdentitySectionVM

@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_CuraHubLayout.cshtml";
}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f9f9f9;
        background-image: url('/Files/Images/group-doctors.avif');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
    }
</style>
@model ChangePasswordVM

<div class="d-flex justify-content-center align-items-center " style="min-height: 100vh;">
    
    <div class="card mb-6" style="width: 70%;">
        <h1 class="text-white" style="background-color:#0070cd">
            Change Password
        </h1>
        <div asp-validation-summary="All" class="text-danger"></div>

        <form action="ChangePassword" method="post">

            <div class="form-group m-2">
                <label for="exampleInputPassword1" class="text-start d-block">Old Password</label>
                <input type="password" class="form-control" name="OldPassword" id="exampleInputPassword1" placeholder="Old Password">
                <span asp-validation-for="@Model.OldPassword" class="text-danger"></span>

                <br />
            </div>
            <div class="form-group m-2">
                <label for="exampleInputPassword1" class="text-start d-block">New Password</label>
                <input type="password" name="NewPassword" class="form-control" id="exampleInputPassword1" placeholder="New Password">
                <span asp-validation-for="@Model.NewPassword" class="text-danger"></span>

                <br />
            </div>
            <div class="form-group m-2">
                <label for="exampleInputPassword1" class="text-start d-block">Confirm New Password</label>
                <input type="password" class="form-control" name="ConfirmNewPassword" id="exampleInputPassword1" placeholder="Confirm New Password">
                <span asp-validation-for="@Model.ConfirmNewPassword" class="text-danger"></span>

            </div>
            <br />
            <button type="submit" class="btn btn-primary m-2 w-25 ">Change</button>
        </form>

    </div>
</div>


@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"> </script>

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"> </script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"> </script>


}
