@model CMS.Models.CuraHub.PharmacySection.PharmacySectionVM.PharmacyCategoryVM

@{
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<h1 class="m-3 fw-bold">Edit Category</h1>
<div class="card shadow p-4 rounded">
    <form asp-action="Edit" class="needs-validation" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" name="pageNumber" value="@ViewBag.currentPage" />
        
        <div class="row">
            <div class="col-md-6 mb-3">
                <label asp-for="Name" class="control-label">Name</label>
                <input asp-for="Name" class="form-control" placeholder="Name"/>
                <div class="invalid-feedback">
                    <span asp-validation-for="Name"></span>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label asp-for="File" class="control-label">Upload Image</label>
                <input type="hidden" asp-for="Img"/>
                <input type="file" class="form-control" name="File" id="File" placeholder="File" onchange="previewImage(event)">
                @* <input asp-for="File" class="form-control" type="file" id="File" onchange="previewImage(event)" /> *@
                <div class="invalid-feedback">
                    <span asp-validation-for="File"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Description" class="control-label">Description</label>
            <textarea asp-for="Description" class="form-control" placeholder="Description"></textarea>
            <div class="invalid-feedback">
                <span asp-validation-for="Description"></span>
            </div>
        </div>

        <!-- Image Preview -->
        @if (!string.IsNullOrEmpty(Model.Img))
        {
            <div id="imagePreview" class="mt-3 text-center">
                <img id="previewImg" src="~/Files/Images/PharmacyCategories/@Model.Img" class="img-thumbnail" style="width: 100px; height: 100px;" />
            </div>
        }
        else
        {
            <div id="imagePreview" class="mt-3 text-center" style="display: none;">
                <img id="previewImg" class="img-thumbnail" style="width: 100px; height: 100px;" />
            </div>
        }

        <button type="submit" class="btn btn-primary mt-3">Save</button>
        <a asp-action="Index" asp-route-pageNumber="@ViewBag.currentPage" class="btn btn-secondary mt-3">Cancel</a>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        function previewImage(event) {
            var preview = document.getElementById("previewImg");
            var previewContainer = document.getElementById("imagePreview");

            preview.src = URL.createObjectURL(event.target.files[0]);
            previewContainer.style.display = "block";
        }
    </script>
}
