<section class="z-3">
    <!-- Footer -->
    <footer class="text-center text-white footer " style="background-color: #0070cd;">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: CTA -->
            <section class="">
                <p class="d-flex justify-content-center align-items-center">
                    <span class="me-3">Join To Our Staff</span>
                    <a href="/Customer/Home/MemberRequest" data-mdb-ripple-init class="btn btn-outline-light btn-rounded">
                        Join!
                    </a>
                </p>
            </section>
            <!-- Section: CTA -->
        </div>
        <!-- Grid container -->
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            <a class="text-white" href="/Customer/Home/Index">www.CuraHub.com</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
</section>