@model int

<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item cursor-pointer"><a class="page-link" id="prevPage">Previous</a></li>
        <li class="page-item cursor-pointer"><a class="page-link" id="nextPage" data-page="@Model">Next</a></li>
    </ul>
</nav>

