<div class="input-group mb-4 w-50">
    <span class="input-group-text"><i class="fas fa-search"></i></span>
    <input type="text" class="form-control" id="searchInput" placeholder="Search..." autocomplete="off">
</div>


